<div class="pt-18 px-4">
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-0 py-0 h-48">
      <h3 class="font-bold text-xl mb-2">{{ name }}</h3>
      <p class="text-grey-700 text-base">{{emp_id}}</p>
      <div class="flex gap-2">
      <p class="text-gray-700 text-base">{{ type }}</p>
      <p class="text-gray-700 text-base">{{ admin }}</p>
      </div>
      <div class="bg-cyan-600">
      <p class="text-gray-700 text-base">{{ email }}</p>
      <p class="text-gray-700 text-base">{{ pno }}</p>
      </div>
      <p class="text-gray-700 text-base">status: {{ status }}</p>
      
    </div>
  </div>
  </div>
  