<div class="mt-18 px-4">
<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-2 py-2 h-96">
        <div class="">
        <img [src]="product?.img_url" alt="shoping" class="w-full h-48 object-contain">
        </div>
      <h3 class="font-bold text-xs mb-2">{{ product?.name }}</h3>
      <p class="text-grey-700 text-base">{{product?.price}}</p>
      <div class="flex gap-2">
      <p class="text-gray-700 text-base">{{ product?.type }}</p>
      </div>
      <p class="text-gray-700 text-base">status: {{ product?.status }}</p>
      <div class="flex">
        <button class="bg-red-500 text-white px-4 py-2 ml-2" (click)="removeFromCart()">-</button>
        <p>{{ cartCount }}</p>
        <button class="bg-blue-500 text-white px-4 py-2" (click)="addToCart()">+</button>
      </div>
    </div>
    </div>
  </div>
  
  